/* JJ R:\Web\Boilerplate\src\css*/

/* http://dabblet.com/gist/7eb242f4e8f078cadbca */

html {
  height: 100%;
}

body {
  height: 100%;
  /*min-height: 100%;*/
  /*font-size: 0.8em;*/
  margin: 0;
}

.clGreen {
    color: #00C000;
}
clBlue, .clRed, .clPurple {
  font-weight: bold;
}
.clPink {
    color: Blue;
}
.clRed {
    color: #C00000;  
}
.clBlue {
    color: #0000C0;  
}
.clPurple {
    color: rgb(255,0,255);
}

p {
  margin: 0;
}

dd, dt {
  display: inline;
  margin: 0;
}

dt::before {
  display: inline;
  min-width: 300px;
}
dd {
  font-weight: 600;
  margin-left: 100px;
}

dd + dt::before {
  content: "\A";
  white-space: pre;
}

dd + dd::before {
  content: ', ';
  font-weight: normal;
  margin-left: 200px;
  /*margin-left: -.25em;*/
}

