/* Layout DIV's as enumerated in index.html */
/* class="flexContainerAll", "flexContainerDown", "flexItemLeft", "flexItem"  */

.flexContainerAll {
    display: -webkit-flex; /* Safari */
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: none;  /* pink; */
    flex-wrap: wrap;
    flex-direction: column;
    margin: 000px;
}
.flexItemLeft {
  margin: 0.3%;
  width: 6%; 
  height: 100%;
  background-color: none; /*green;*/
}
.flexContainerDown {
    display: flex;
    width: 93%;
    height: 200px;  /*default*/
    flex-wrap: nowrap;
    margin: 0.3%;
}
.flexContainerBaseQueue {
  /*background-color: green;*/
  height: 20%;
}
.flexContainerMenu {
  /*background-color: red;*/
  height: 0%;
}
.flexContainerPanelsMap {
  background-color: none;
  height: 73%;
}
.flexItem {
    background-color: cornflowerblue;
    width: 500px;
    height: 50px;
    margin: 10px;
}

/* Base display */
#base {
  background-color:#384930;
  margin: 0000px;
  width: 33%; 
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
/* Queue display */
#queue {
  background-color:#08703c;
  margin: 0 auto;
  width: 66%; 
  height: 100%;
  overflow-x: hidden;  /* http://www.w3.org/TR/CSS2/visufx.html */
  overflow-y: scroll;
  border-radius: 10px;
}

/* Panels */
#panels {
  background-color:#775050;
  margin: 0 auto;
  width: 59%; 
  height: 100%;
  /* min-height: 400px; min-width: 750px; */
  overflow-x: hidden;  /* http://www.w3.org/TR/CSS2/visufx.html */
  overflow-y: scroll;
  border-radius: 10px;
}

/* LeafLet map display */
#map {
  background-color:#808080;
  margin: 0 auto;
  width: 40%;
  height: 100%;
  border-radius: 10px;
}
